<% layout("/layouts/boilerplate.ejs") %>

<!-- <div class="row mt-6">
  <h2 class="col-6 offset-3 mt-3">Login On Wanderlust</h2>
  <div class="col-12 col-md-8 col-lg-6 mx-auto">
    <form action="/login" method="POST" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          name="username"
          id="username"
          class="form-control"
          required
        />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          required
        />
      </div>
      <button class="btn btn-success">Login</button>
    </form>
  </div>
</div> -->

<div class="row justify-content-center auth-page">
  <div class="col-12 col-md-8 col-lg-6">
    <h2 class="text-center mb-4">Login On Wanderlust</h2>

    <form
      action="/login"
      method="POST"
      class="needs-validation auth-form"
      novalidate
    >
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          name="username"
          id="username"
          class="form-control"
          required
        />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          required
        />
      </div>

      <button class="btn btn-success w-100">Login</button>
    </form>
  </div>
</div>
